# Application Prefix Name
VITE_APP_PREFIX=finderai-chat-admin-frontend

# Frontend - Backend Base URL
FRONTEND_BACKEND_BASE_URL=http://localhost:3000

# Frontend Base URL API
VITE_FRONTEND_BASE_URL_API=http://localhost:3003/api

# Backend API Base URL
VITE_BACKEND_BASE_URL=http://localhost:8081/api/v1/admin